@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+NO:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared-styles */
.bg-color{
width: 100%;
height: 140px;
background-color: black;
}
.display-flex{
    display: flex;
}
.first-color{
color:rgb(255, 255, 255) ;

}
.second-color{
  color:  rgba(255, 255, 255, 0.413);

}
.third-color{
    color:rgb(230, 83, 60) ;
}
.primary-bg{
background-color: black;

}
.secondary-bg{
    background: rgb(49, 47, 47);

}

.main{
max-width: 1440px;
margin: 0 auto;

}
/* header-styles */

/* navbar-related-styles */
.brand{
  font-size: 2.2rem;
  font-weight: 800;
}
.navbar{
justify-content: space-between;
margin-left: 100px;
margin-right: 100px;

align-items: center;
}
.nav-link{
    font-weight: 400;
text-decoration:none ;

}
.nav-item{
list-style: none;
margin-right: 30px;
font-size: 1.5rem;
/* margin: 25px; */
}

.navbar, .banner{
max-width: 1440px;
margin: 0 auto;
/* height: 1000px; */
}
.banner{
height: 680px;
width: 100%;
}
/* banner-related-styles */
.img-bg{
 
background-image: url('../images/Images\ 2.png');

background-repeat: no-repeat;
position: absolute;
width: 349px;
height: 580px;
left: 1337px;
top: 310px;

}
.banner-title{
  position: static;
  width: 520px;
  height: 281px;
  
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 100px;
}
.banner-description{
  position: static;
  width: 800px;
  height: 48px;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-top: 0%;
}
.first-btn{
  background-color:rgb(230, 83, 60) ;
  color: rgb(255, 255, 255);
  padding: 16px 40px 16px 40px;
  font-size:  1.4rem; 
  border-radius: 48px;
  margin-top: 50px;
}

.second-btn{
background-color: black;
color:rgb(255, 255, 255) ;
padding: 16px 40px 16px 40px;
border-radius: 48px;
font-size:  1.4rem; 
margin-top: 100px;
}

.banner-design{
  margin-top: 0px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  

position: absolute;
width: 190px;
height: 130px;
left: 1520px;
top: 420px;
text-align: center;
padding-bottom: 20px; 


}
.box-head{
  color: rgb(255, 255, 255);
  position: absolute;
width: 116px;
height: 40px;
margin-left: 20px;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: left;

}
.box-des{
  color: rgba(255, 255, 255, 0.65);
  position: absolute;
  width: 146px;
  height: 20px;
 margin-top: 80px;
 margin-left: 20px;
font-size: 0.8rem;
font-weight: 400;
line-height: 20px;
letter-spacing: 1px;
text-align: left;
}
.back-box{
  position: absolute;
width: 206px;
height: 96px;
left: 1264px;
top: 750px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
}
.circle-box{
width: 50px;
height: 50px;
border-radius: 50%;
background: rgb(230, 83, 60);
margin-left: 10px;
margin-top: 20px;
}
.c-head{
  position: absolute;
width: 68px;
height: 24px;
color: rgb(250, 250, 249);
margin-left: 75px;
font-size: 1.5rem;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
margin-top: 10px;

}
.c-des{
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  position: absolute;
  width: 108px;
  height: 24px;
  margin-left: 75px;
  margin-top: 40px;

}


/* responsive-midea-query */

/* responsive-media-query */


.teams-h2{
color: rgb(255, 255, 255);
position: static;
width: 476px;
height: 58px;
margin-left: 700px;
margin-top: 0%;
font-size: 3rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
top: 30px;
}
.teams-p{
 margin-left: 625px;
  width: 720px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
 
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
 
}

.img-setup{
display: flex;
justify-content: space-between;

}
.img-first{
  margin-top: 30px;
margin-left: 150px;
}


.img-first img{
  height: 200px;
width: 200px;
border-radius: 50%;
}


.img-first h3{
  color: rgb(255, 255, 255);
  position: static;
width: 93px;
height: 22px;
align-items: center;
text-align: center;
font-size: 1rem;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
margin-left: 50px;
}
.img-first p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.9rem;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;

}
.img-second{
  margin-top: 30px;
  height: 100px;
width: 100px;
border-radius: 50%;
}
.img-second img{
  height: 200px;
  width: 200px;
  border-radius: 50%;

}

.img-second h3{
  color: rgb(255, 255, 255);
  position: static;
width: 93px;
height: 22px;
align-items: center;
text-align: center;
font-size: 1rem;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
margin-left: 50px;
}
.img-second p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.9rem;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;
width: 203px;
height: 59px;
}
.img-third{
  margin-top: 30px;


}
.img-third img{
  height: 200px;
  width: 200px;
  border-radius: 50%;

}
.img-third h3{
  color: rgb(255, 255, 255);
  position: static;
width: 93px;
height: 22px;
align-items: center;
text-align: center;
font-size: 1rem;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
margin-left: 50px;
}

.img-third p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.9rem;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;

}


.img-four{
  margin-top: 30px;
margin-right: 150px;
}
.img-four img{
  height: 200px;
width: 200px;
border-radius: 50%;
}

.img-four h3{
  color: rgb(255, 255, 255);
  position: static;
width: 103px;
height: 22px;
align-items: center;
text-align: center;
font-size: 1rem;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
margin-left: 50px;
}

.img-four p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.9rem;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;
text-align: center;
}

.mid-banner{
  margin-top: 100px;
  position: static;
  width: 1060px;
  height: 371px;
  background: rgb(49, 47, 47);
border: 2px solid white;
margin-left: 480px;
display: flex;
flex-direction: row;
justify-content: space-between;
border-radius: 20px;
}

.img-mid{
 width: 366px;
  height: 312px;
  margin-right: 30px;
margin-top: 30px;
border-radius: 18px;
}
.head-mid{
  position: static;
  width: 443px;
  height: 116px;
  color: rgb(255, 255, 255);
  
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
 margin-left: 30px;
}

.para-mid{
  position: static;
  width: 443px;
  height: 72px;

  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-left: 30px;
}
.btn-mid{
  position: static;
  width: 224px;
  font-size: 22px;
  height: 54px;
  justify-content: center;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  color: rgb(255, 255, 255);
background: rgb(230, 83, 60);
margin-left: 30px;
}
.meet-section h2{
  position: static;
  width: 364px;
  height: 58px;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
margin-left: 800px;
}
.meet-section p{
  position: static;
  width: 871px;
  height: 78px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-left: 790px;

}
/* AJ-SECTION-STARTS-HERE */
.gallery-wrapper {
  width: 1060px; 
  height: 604px; 
  background-color: #d3d3d3;
  display: flex;
  
  justify-content: center;
  align-items: center; 
  margin: 15px;
  border-radius: 15px; 
  box-sizing: border-box; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 326px); 
  grid-gap: 10px; 
  
  height: 560px;
  width: 1060px;
  border: 2px solid white;
  justify-content: space-around;
  margin-top: 20px;
 margin-left: 490px;
 background-color: rgba(87, 82, 82, 0.491);
 border-radius: 15px;
}


.image-container {
  position: relative;
  width: 326px; 
  height: 272px; 
  border-radius: 15px; 
  overflow: hidden; 
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 20px;
 
  border-radius: 15px;
}
.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color:none;
  padding: 5px;
  width: calc(100% - 20px);
}

.overlay-text h2 {
  margin: 0;
  font-size: 1.5rem;
}

.overlay-text p {
  margin: 5px 0 0 0;
  font-size: 1rem;
}


.border{
  position: static;
  width: 100%;
  height: auto;

}
.bg-border{
  position: static;
  width: 100%;
  height: 436px;
  background: rgba(255, 255, 255, 0.1);
display: flex;
justify-content: space-between;
}
.first-foot{
margin-left: 100px;


}


.first-foot h2{
  color: rgb(230, 83, 60);
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 70px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.first-foot{
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;

}
.second-foot{

}
.second-foot h3{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;

}
.second-foot ul{
list-style: none;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 23px;
font-weight: 400;
line-height: 200%;
letter-spacing: 0%;
text-align: left;
}
.third-foot{
margin-right: 100px;

}

.third-foot h3{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;

}
.third-foot ul{
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 23px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0%;
  text-align: left;}

  .bg-foot{
    background: rgba(255, 255, 255, 0.1);
  height: auto;
  width: 100%;
  margin-top: 0%;
  gap: 0px;
  display: flex;
   }

 .line{
  width: 1000px;
  border: none;
height: 2px;

background-color: white;
margin: 20px auto;

 }
 .footer-p{
  background: rgba(255, 255, 255, 0.1);
  height: auto;
  width: 100%;
  margin-top: 0%;
  gap: 0px;
  display: flex;

 }
 .last-foot{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
margin: 10px auto;
 }



.h-section h2{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;


}
.h-section p{
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;

}

.form-bmi{
width: 100%;
height:auto;
background: rgb(34, 34, 34);
border: 2px solid white;
display: flex;
justify-content: space-between;
border-radius: 15px;
}


.bmi-head{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
 

}
.table-container {
  width: 30%;
  background: rgb(34, 34, 34);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
margin-left: 100px;


}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  
}

th, td {
  padding: 15px;
  background: rgb(34, 34, 34);
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 15px;
}

th {
  background: rgb(34, 34, 34);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ecf0f1;
}

tr:hover {
  background-color: #dfe6e9;
}



.container {
  background: rgb(34, 34, 34);
  margin-left: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
  margin-right: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.container p {

  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;

}
.form-row {
  display: flex;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  /* width: 100%; */
  max-width: 600px;
  margin-top: 20px;
  /* border: 2px solid white; */
}
.form-data{
  border: 2px solid white;
width: 600px;
height: 300px;
border-radius: 15px;
}
.form-col {
  flex: 1;
  margin-right: 10px;
  
}

.form-col:last-child {
  margin-right: 0;
}

.form-row label {
  display: block;
  margin-bottom: 5px;
}

.form-row input, .form-row select {
  width: 100%;
  height: 0 auto;
  
}

.btn-last {
  
  width: 25%;
  padding: 10px;
  background-color: tomato;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}

button:hover {
  background-color: tomato;
  margin-left: 20px;
}

